<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
<div class="container">
    <div class="row">

        <div class="col col-sm-6">
            <div id="input-form">

                <h1>
                    CREATE A NEW ORDER
                </h1>
                <form>
                    Order ID (required): <input type="text" id="orderId" name="orderId"><br>
                    Supplier ID (required): <input type="text" id="supplierId" name="supplierId"><br>
                    Order Date (required): <input type="text" id="orderDate" name="orderDate"><br>

                    <div class="btn btn-info" type="submit" id="submit-button">Add Order</div>
                </form>
            </div>
        </div>
        <div class="col col-sm-6">
            <br>
            <br>
            <br>
            <br>
            <a href="/addProductsToOrder">
                <div class="btn btn-info" id="add-button">Add Products</div>
            </a>

        </div>
    </div>
</div>


<div class="bg-secondary text-white" id="order-build-display">
    <h3>
        Current Order:
    </h3>

    <ul>
        {{#each supplierOrder}}

        {{> customerOrders/supplierOrder-item}}

        {{/each}}
    </ul>

</div>
<div id="sku-choices">

    <ul>
        {{#each SKUs}}

        {{> customerOrders/skus-block}}

        {{/each}}
    </ul>

</div>