<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1>Customer Orders!</h1>

      {{> customerOrders/amazonSellBy-block}}
<h2>Customer Orders that are pending!</h2>

<ul>
  {{#each customerOrders}}
    {{#iff OrderStatus '==' 'Pending'}}
      {{> customerOrders/customerOrder-block pending=true}}
    {{/iff}}
  {{/each}}
</ul>

<h2>Customer Orders that are not pending!</h2>

<ul>
  {{#each customerOrders}}
    {{#unless pending}}
    <span>
      {{> customerOrders/customerOrder-block pending=false}}   
    </span>
    {{/unless}}
  {{/each}}
</ul>

