<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<div class="container">
        {{> customerOrders/navbar}}

<h1>Inventory Health</h1>

<h3>
Last Update:
{{#lastUpdate SKUs}}
 {{snapshot-date}}
{{/lastUpdate}}
</h3>
  
<ul>
  {{#each SKUs}}
    
      {{> customerOrders/inventoryHealth-block pending=true}}
    
  {{/each}}
</ul>

</div>