<li>
	Order # {{id}} ||
	{{AmazonOrderId}} ||
	Order Date: {{PurchaseDate}} ||


	{{#iff OrderStatus '==' 'Pending'}}
<div class="btn btn-info">
	This order is pending
</div>
	{{/iff}}
	{{#iff OrderStatus '==' 'Canceled'}}
<div class="btn btn-danger">
	This order was canceled
</div>
	{{/iff}}

	{{#iff OrderStatus '==' 'Shipped'}}
<div class="btn btn-success">
	This order was shipped
</div>
	{{/iff}}

</li>