<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<li>
  <div class="row">
    <div class="col-sm">
      {{product-name}}
    </div>
    <div class="col-sm">
      <span>
        Total Quantity: {{total-quantity}}
      </span><span>Sales in last 30 days: {{units-shipped-last-30-days}}</span>
    </div>
    <div class="col-sm">
      <div class="btn btn-info" id="add-button">Add Product to Order</div>
      <div class="count">
        <input type="text">
      </div>

    </div>
  </div>
</li>